<h1><%= t('activerecord.attributes.books.edit_title',resource: t('activerecord.attributes.books.title')) %></h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to t('activerecord.attributes.books.show',resource: t('activerecord.attributes.books.title')), @book %> |
  <%= link_to t('activerecord.attributes.books.back'), books_path %>
</div>
