<h1><%= Report.model_name.human %></h1>

<ul>
  <% @reports.each do |report| %>
    <li><%= link_to report.title, report_path(report) %></li>
  <% end %>
</ul>

<%= link_to Report.human_attribute_name(:new_report), new_report_path %>
